h4 {
    color: blue;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.vbottom {
    display: inline-block;
    vertical-align: text-bottom;
    float: none;
}

.no-margin-b {
    height: 16px;
}

.skinny-row {
    height: 8px;
}

.no-margin-t {
    margin-top: 0 !important;
}

.tank-name {
    font-size: .9em;
}

.small-font {
    font-size: .8em;
}

.tiny-font {
    font-size: .6em;
}

@media (max-width: 768px) {
  .btn-responsive {
    .btn-xs;
  }
}

@media (min-width: 769px) {
  .btn-responsive {
    .btn-lg;
  }
}



/* Add some vertical space between columns for xs media */
hr.spacer-25 {
  border: 0px solid #000;
  clear: both;
  margin: 0 0 25px;
}

.bg-blink {
    -webkit-animation: blink 1200ms step-start 0s infinite; /* Chrome, Safari, Opera */
    animation: blink 1200ms step-start 0s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes blink {
    0% {background: white; color: black;}
    50%  {background: red; color: white;}
    100% {background: white; color: black;}
}

/* Standard syntax */
@keyframes blink {
    0% {background: white; color: black;}
    50%  {background: red; color: white;}
    100% {background: white; color: black;}
}

.store-row {
    padding: 10px;
}
